Repository abhisheksinghautomotive/automotive-devops-platform: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-coverage, complexity-check

pytest-coverage:
  name: pytest with coverage
  entry: bash -c 'cd /Users/abhisheksingh/Desktop/automotive-devops-platform && python -m pytest tests/unit/ --cov=projects/can_data_platform/scripts --cov-fail-under=95 --cov-report=term-missing'
  language: system
  pass_filenames: false

complexity-check:
  name: Lizard complexity analysis
  entry: lizard
  language: python
  args:
  - --CCN
  - '8'
  - --length
  - '100'
  - --arguments
  - '6'

fix: resolve YAML syntax error in GitHub Actions workflow
  .github/workflows/code-quality.yml
Due: none

fix: configure coverage for relative paths and remove invalid parameter
  .coveragerc
  .github/workflows/code-quality.yml
Due: none

fix: resolve YAML syntax error in GitHub Actions workflow (#67)
  .coveragerc
  .github/workflows/code-quality.yml
Due: none

feat: implement comprehensive workflow quality validation
  .github/instructions/quality.instructions.md
  .github/issue_deployment/issue_deployer.py
  .github/linters/.yamllint-simple.yml
  .github/linters/.yamllint.yml
  .github/linters/workflow-security.yml
  .github/workflows/code-quality.yml
  tests/unit/test_issue_deployer.py
Due: pytest-coverage

feat: Add P01-Core-Pipeline-MVP issues to project JSON
  .github/BRANCH_PROTECTION.md
  .github/CODE_QUALITY_GATES.md
  .github/SOLO_DEVELOPER_SETUP.md
  .github/issue_deployment/Issue_JSONs/P01/Old_JSONs/P01-Cloud-Persistence-Intro.json
  .github/issue_deployment/Issue_JSONs/P01/P01-Cloud-Storage-S3.json
  .github/issue_deployment/Issue_JSONs/P01/P01-Core-Pipeline-MVP.json
  QUALITY_ENFORCEMENT_SUMMARY.md
  coverage.xml
Due: none

fix: resolve actionlint installation issue in CI/CD workflow
  .github/workflows/code-quality.yml
Due: none

fix: use direct download for actionlint installation
  .github/workflows/code-quality.yml
Due: none

fix: simplify workflow quality by focusing on yamllint
  .github/workflows/code-quality.yml
Due: none

fix: remove trailing spaces from workflow YAML
  .github/workflows/code-quality.yml
Due: none

fix: Resolve workflow security check false positive
  .github/workflows/code-quality.yml
Due: none

feat: Enhanced quality check script for all Python files
  .github/workflows/code-quality.yml
  run_quality_checks.sh
Due: none

refactor: Comprehensive Python quality checks across repository
  .github/workflows/code-quality.yml
  projects/can_data_platform/src/utils/config.py
Due: pytest-coverage, complexity-check

feat: Achieve perfect Python quality scores across repository
  .github/issue_deployment/__init__.py
  .pylintrc
  coverage.json
  coverage.xml
Due: none

docs: Add comprehensive workflow documentation
  docs/workflow-documentation.md
Due: none

fix: Resolve CI test import issues and add missing dependencies
  .github/issue_deployment/issue_deployer.py
  coverage.xml
  requirements-test.txt
  tests/unit/test_issue_deployer.py
Due: pytest-coverage

fix: Make environment variable handling dynamic for test compatibility
  .github/issue_deployment/issue_deployer.py
  coverage.xml
  tests/unit/test_issue_deployer.py
Due: pytest-coverage

fix: Mock milestone fetch in test_main_missing_arguments to prevent API call
  coverage.json
  coverage.xml
  tests/unit/test_issue_deployer.py
Due: pytest-coverage

Enhance unit tests for sim_receive and sim_sender modules
  .flake8
  .github/issue_deployment/issue_deployer.py
  .github/workflows/code-quality.yml
  .pylintrc
  bandit-report.json
  coverage.json
  coverage.xml
  projects/__init__.py
  projects/can_data_platform/__init__.py
  projects/can_data_platform/scripts/gen_sample_events.py
  projects/can_data_platform/scripts/sim_receive.py
  projects/can_data_platform/scripts/sim_sender.py
  projects/can_data_platform/src/utils/config.py
  pyproject.toml
  run_quality_checks.sh
  tests/unit/conftest.py
  tests/unit/test_gen_sample_events.py
  tests/unit/test_issue_deployer.py
  tests/unit/test_sim_receive.py
  tests/unit/test_sim_sender.py
Due: pytest-coverage, complexity-check

feat: Add P01-Core-Pipeline-MVP issues to project JSON (#82)
  .flake8
  .github/BRANCH_PROTECTION.md
  .github/CODE_QUALITY_GATES.md
  .github/SOLO_DEVELOPER_SETUP.md
  .github/instructions/quality.instructions.md
  .github/issue_deployment/Issue_JSONs/P01/Old_JSONs/P01-Cloud-Persistence-Intro.json
  .github/issue_deployment/Issue_JSONs/P01/P01-Cloud-Storage-S3.json
  .github/issue_deployment/Issue_JSONs/P01/P01-Core-Pipeline-MVP.json
  .github/issue_deployment/__init__.py
  .github/issue_deployment/issue_deployer.py
  .github/linters/.yamllint-simple.yml
  .github/linters/.yamllint.yml
  .github/linters/workflow-security.yml
  .github/workflows/code-quality.yml
  .pylintrc
  QUALITY_ENFORCEMENT_SUMMARY.md
  bandit-report.json
  coverage.json
  coverage.xml
  docs/workflow-documentation.md
  projects/__init__.py
  projects/can_data_platform/__init__.py
  projects/can_data_platform/scripts/gen_sample_events.py
  projects/can_data_platform/scripts/sim_receive.py
  projects/can_data_platform/scripts/sim_sender.py
  projects/can_data_platform/src/utils/config.py
  pyproject.toml
  requirements-test.txt
  run_quality_checks.sh
  tests/unit/conftest.py
  tests/unit/test_gen_sample_events.py
  tests/unit/test_issue_deployer.py
  tests/unit/test_sim_receive.py
  tests/unit/test_sim_sender.py
Due: pytest-coverage, complexity-check

feat: Revamp README for Cloud-Native Automotive Telemetry Platform and add comprehensive GitHub Copilot instructions
  .github/instructions/ai-learning-guide.instructions.md
  .github/instructions/copilot-instructions.md
  .github/instructions/quality.instructions.md
  README.md
  docs/adr/0000-template.md
  docs/adr/0001-ingestion-transport.md
  docs/daily-log.md
  docs/data/dbc-usage-guidelines.md
  docs/diagrams/README.md
  docs/git-branching-strategy.md
  docs/progress-tracking.md
  docs/workflow-documentation.md
  projects/can_data_platform/README.md
Due: none

feat: Revamp README for Cloud-Native Automotive Telemetry Platform and add comprehensive GitHub Copilot instructions (#83)
  .github/instructions/ai-learning-guide.instructions.md
  .github/instructions/copilot-instructions.md
  .github/instructions/quality.instructions.md
  README.md
  docs/adr/0000-template.md
  docs/adr/0001-ingestion-transport.md
  docs/daily-log.md
  docs/data/dbc-usage-guidelines.md
  docs/diagrams/README.md
  docs/git-branching-strategy.md
  docs/progress-tracking.md
  docs/workflow-documentation.md
  projects/can_data_platform/README.md
Due: none

feat: implement pre-commit hooks with quality checks alignment
  .github/instructions/copilot-instructions.md
  .github/linters/.yamllint.yml
  .github/linters/workflow-security.yml
  .gitignore
  .pre-commit-config.yaml
  coverage.json
  coverage.xml
  docs/projects_documentations/01-can-data-platform-enhanced.md
  docs/projects_documentations/05-terraform-infrastructure-enhanced.md
  projects/can_data_platform/README.md
  projects/can_data_platform/data/raw/DBC-files-master/BMW-PHEV-HV-Battery.dbc
  projects/can_data_platform/data/raw/DBC-files-master/BugPlug-OpenInverter.dbc
  projects/can_data_platform/data/raw/DBC-files-master/Chademo.dbc
  projects/can_data_platform/data/raw/DBC-files-master/ISAShunt.dbc
  projects/can_data_platform/data/raw/DBC-files-master/Kangoo.dbc
  projects/can_data_platform/data/raw/DBC-files-master/OutlanderWaterHeater.dbc
  projects/can_data_platform/data/raw/DBC-files-master/SimpBMS.dbc
  projects/can_data_platform/data/raw/DBC-files-master/VW-GTE-HV-Battery.dbc
  projects/can_data_platform/data/raw/DBC-files-master/VW_GOLF_GTE.dbc
  projects/can_data_platform/data/raw/DBC-files-master/outlander_charger.dbc
  projects/can_data_platform/docs/battery-dbc-signal-table.md
  projects/can_data_platform/docs/dependency-explanations.md
  projects/can_data_platform/docs/documentation-gap-audit.md
  projects/can_data_platform/docs/signal-schema-mvp.md
  projects/can_data_platform/docs/simulation-refinement-backlog.md
  requirements-test.txt
  requirements.txt
  run_quality_checks.sh
Due: none

feat: add data flow architecture PDF document to project documentation
  .gitignore
  projects/can_data_platform/docs/data-flow-architecture-issue-68.pdf
Due: none

Feature/68 design and document data flow architecture (#84)
  .github/instructions/copilot-instructions.md
  .github/linters/.yamllint.yml
  .github/linters/workflow-security.yml
  .gitignore
  .pre-commit-config.yaml
  coverage.json
  coverage.xml
  docs/projects_documentations/01-can-data-platform-enhanced.md
  docs/projects_documentations/05-terraform-infrastructure-enhanced.md
  projects/can_data_platform/README.md
  projects/can_data_platform/data/raw/DBC-files-master/BMW-PHEV-HV-Battery.dbc
  projects/can_data_platform/data/raw/DBC-files-master/BugPlug-OpenInverter.dbc
  projects/can_data_platform/data/raw/DBC-files-master/Chademo.dbc
  projects/can_data_platform/data/raw/DBC-files-master/ISAShunt.dbc
  projects/can_data_platform/data/raw/DBC-files-master/Kangoo.dbc
  projects/can_data_platform/data/raw/DBC-files-master/OutlanderWaterHeater.dbc
  projects/can_data_platform/data/raw/DBC-files-master/SimpBMS.dbc
  projects/can_data_platform/data/raw/DBC-files-master/VW-GTE-HV-Battery.dbc
  projects/can_data_platform/data/raw/DBC-files-master/VW_GOLF_GTE.dbc
  projects/can_data_platform/data/raw/DBC-files-master/outlander_charger.dbc
  projects/can_data_platform/docs/battery-dbc-signal-table.md
  projects/can_data_platform/docs/data-flow-architecture-issue-68.pdf
  projects/can_data_platform/docs/dependency-explanations.md
  projects/can_data_platform/docs/documentation-gap-audit.md
  projects/can_data_platform/docs/signal-schema-mvp.md
  projects/can_data_platform/docs/simulation-refinement-backlog.md
  requirements-test.txt
  requirements.txt
  run_quality_checks.sh
Due: none

ci: run pytest against tests/ and support tests/can_data_platform/unit layout
  .github/workflows/code-quality.yml
Due: none

ci: fix workflow YAML (remove accidental code fence)
  .github/workflows/code-quality.yml
Due: none

fix: update test directory checks for legacy and new structures
  .github/workflows/code-quality.yml
Due: none

fix: update log message for configuration file checks in code quality workflow
  .github/workflows/code-quality.yml
Due: none

fix: streamline test directory checks for legacy and new structures
  .github/workflows/code-quality.yml
Due: none

🚀 Implement unified Python quality checking system
  .github/instructions/copilot-instructions.md
  .github/issue_deployment/Issue_JSONs/P02/dummy.json
  .github/workflows/code-quality.yml
  .pre-commit-config.yaml
  bandit-report.json
  coverage.json
  coverage.xml
  projects/__init__.py
  projects/can_data_platform/__init__.py
  projects/can_data_platform/data/sample_events_mvp.jsonl
  projects/can_data_platform/scripts/gen_sample_events.py
  projects/can_data_platform/scripts/sqs_usage_report.py
  run_quality_checks.py
  run_quality_checks.sh
  tests/can_data_platform/integration/test_sqs_connectivity.py
  tests/can_data_platform/unit/test_gen_sample_events.py
Due: pytest-coverage, complexity-check

Fix CI dependency issues for quality tools
  requirements-test.txt
Due: none

Update coverage files after dependency fixes
  coverage.json
  coverage.xml
Due: none

Fix MyPy type checking with compatible type stubs
  requirements-test.txt
Due: none

Update coverage report to reflect improved test coverage
  coverage.json
  coverage.xml
Due: none

Feature/70 implement sqs publisher in event generator (#86)
  .github/instructions/copilot-instructions.md
  .github/issue_deployment/Issue_JSONs/P02/dummy.json
  .github/workflows/code-quality.yml
  .pre-commit-config.yaml
  bandit-report.json
  coverage.json
  coverage.xml
  projects/__init__.py
  projects/can_data_platform/__init__.py
  projects/can_data_platform/data/sample_events_mvp.jsonl
  projects/can_data_platform/scripts/gen_sample_events.py
  projects/can_data_platform/scripts/sqs_usage_report.py
  requirements-test.txt
  run_quality_checks.py
  run_quality_checks.sh
  tests/can_data_platform/integration/test_sqs_connectivity.py
  tests/can_data_platform/unit/test_gen_sample_events.py
Due: pytest-coverage, complexity-check

Add unit tests for SQS consumer and setup scripts
  .github/workflows/code-quality.yml
  .pre-commit-config.yaml
  .sonarqube/README.md
  .sonarqube/quality-gate-config.md
  bandit-report.json
  coverage.json
  coverage.xml
  projects/can_data_platform/scripts/batch_sqs_consumer.py
  projects/can_data_platform/scripts/gen_sample_events.py
  projects/can_data_platform/scripts/setup_sqs.py
  reports/flake8-report.txt
  reports/pylint-report.txt
  run_quality_checks.py
  sonar-project.properties
  test-results.xml
  tests/can_data_platform/unit/test_batch_sqs_consumer.py
  tests/can_data_platform/unit/test_setup_sqs.py
Due: pytest-coverage, complexity-check

fix: update SonarQube action name for clarity in code quality workflow
  .github/workflows/code-quality.yml
Due: none

Update coverage and test results XML files
  bandit-report.json
  coverage.json
  coverage.xml
  test-results.xml
Due: none

Path conditions:
  pytest-coverage: any of: ^(projects|tests)/.*\.py$
  complexity-check: any of: ^projects/.*\.py$
