Repository abhisheksinghautomotive/automotive-devops-platform: changes, and which pre-commit hooks are due for each by the changed paths.
All: bandit-security, pytest-coverage, complexity-check, mypy-check, secret-scan

.pre-commit-config.yaml:

# Pre-commit hooks for automotive DevOps platform
# Install with: pip install pre-commit && pre-commit install

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ['--maxkb=500']
      - id: mixed-line-ending
      - id: check-executables-have-shebangs

  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.35.1
    hooks:
      - id: yamllint
        files: ^\.github/workflows/.*\.yml$

  - repo: https://github.com/psf/black
    rev: 23.12.1
    hooks:
      - id: black
        language_version: python3
        files: ^(projects/can_data_platform/scripts|projects/can_data_platform/src|\.github/issue_deployment|tests)/.*\.py$
        args: [--check, --diff]

  - repo: https://github.com/PyCQA/flake8
    rev: 6.1.0
    hooks:
      - id: flake8
        files: ^(projects/can_data_platform/scripts|projects/can_data_platform/src|\.github/issue_deployment|tests)/.*\.py$

  - repo: https://github.com/PyCQA/pylint
    rev: v3.0.3
    hooks:
      - id: pylint
        files: ^(projects/can_data_platform/scripts|projects/can_data_platform/src|\.github/issue_deployment|tests)/.*\.py$
        args: [--fail-under=9.5]

  - repo: https://github.com/PyCQA/pydocstyle
    rev: 6.3.0
    hooks:
      - id: pydocstyle
        files: ^(projects/can_data_platform/scripts|projects/can_data_platform/src|\.github/issue_deployment|tests)/.*\.py$

  - repo: local
    hooks:
      - id: bandit-security
        name: Bandit security analysis
        entry: bash -c '.venv/bin/bandit -r "$@" --skip B101,B311' --
        language: system
        files: ^(projects/can_data_platform/scripts|projects/can_data_platform/src|\.github/issue_deployment|tests)/.*\.py$

  - repo: local
    hooks:
      - id: pytest-coverage
        name: pytest with coverage
        entry: bash -c 'cd /Users/abhisheksingh/Desktop/automotive-devops-platform && .venv/bin/python -m pytest tests/ --cov=projects/can_data_platform/scripts --cov=projects/can_data_platform/src --cov=.github/issue_deployment --cov-report=term-missing --cov-report=html --cov-report=xml --cov-report=json --cov-fail-under=95'
        language: system
        files: ^(projects/can_data_platform/scripts|projects/can_data_platform/src|\.github/issue_deployment|tests)/.*\.py$
        pass_filenames: false

      - id: complexity-check
        name: Lizard complexity analysis
        entry: lizard
        language: python
        files: ^(projects/can_data_platform/scripts|projects/can_data_platform/src|\.github/issue_deployment|tests)/.*\.py$

      - id: mypy-check
        name: MyPy type checking
        entry: bash -c '.venv/bin/mypy "$@" --ignore-missing-imports' --
        language: system
        files: ^(projects/can_data_platform/scripts|projects/can_data_platform/src|\.github/issue_deployment|tests)/.*\.py$

      - id: secret-scan
        name: Secret scan for workflows
        entry: bash -c 'grep -Ei "(secret|token|password|KEY=)" .github/workflows/*.yml || true'
        language: system
        files: ^\.github/workflows/.*\.yml$
        pass_filenames: false

# Configuration
default_language_version:
  python: python3.9

fail_fast: true

Fix region default handling in setup_sqs.py
  code-quality-artifacts/bandit-report.json
  code-quality-artifacts/coverage.json
  code-quality-artifacts/coverage.xml
  code-quality-artifacts/reports/flake8-report.txt
  code-quality-artifacts/reports/pylint-report.txt
  code-quality-artifacts/test-results.xml
  coverage.json
  coverage.xml
  projects/can_data_platform/scripts/setup_sqs.py
  test-results.xml
  tests/can_data_platform/unit/test_setup_sqs.py
Due: bandit-security, pytest-coverage, complexity-check, mypy-check

Fix test environment isolation for region default handling
  tests/can_data_platform/unit/test_setup_sqs.py
Due: bandit-security, pytest-coverage, complexity-check, mypy-check

fix: update timestamp in coverage.xml
  coverage.xml
Due: none

Remove outdated code quality artifacts and update configuration for SonarQube
  .github/workflows/code-quality.yml
  code-quality-artifacts/bandit-report.json
  code-quality-artifacts/coverage.json
  code-quality-artifacts/coverage.xml
  code-quality-artifacts/reports/flake8-report.txt
  code-quality-artifacts/reports/pylint-report.txt
  code-quality-artifacts/test-results.xml
  projects/can_data_platform/scripts/setup_sqs.py
  sonar-project.properties
  tests/can_data_platform/unit/test_setup_sqs.py
Due: bandit-security, pytest-coverage, complexity-check, mypy-check, secret-scan

chore: update Python version to 3.11 in code quality workflow
  .github/workflows/code-quality.yml
Due: secret-scan

refactor: improve comments and error handling in code quality workflow
  .github/workflows/code-quality.yml
Due: secret-scan

Feature/71 build sqs batch consumer (#87)
  .github/workflows/code-quality.yml
  .pre-commit-config.yaml
  .sonarqube/README.md
  .sonarqube/quality-gate-config.md
  bandit-report.json
  coverage.json
  coverage.xml
  projects/can_data_platform/scripts/batch_sqs_consumer.py
  projects/can_data_platform/scripts/gen_sample_events.py
  projects/can_data_platform/scripts/setup_sqs.py
  reports/flake8-report.txt
  reports/pylint-report.txt
  run_quality_checks.py
  sonar-project.properties
  test-results.xml
  tests/can_data_platform/unit/test_batch_sqs_consumer.py
  tests/can_data_platform/unit/test_setup_sqs.py
Due: bandit-security, pytest-coverage, complexity-check, mypy-check, secret-scan
